li {
    list-style: none;
    float: left;
} 

.fab {
    padding: 15px 75px;
    color: white;
}

.fab:hover {
    background-color: black;
}

.fa-pinterest-p {
    background-color: #E70024;
}

.fa-facebook-f {
    background-color: #3A5899;
}

.fa-twitter {
    background-color: #00ACED;
}

.fa-android {
    background-color: #A0C33B;
}

.fa-google-plus-g {
    background-color: #EB4031;
}

.fa-evernote {
    background-color: #00A30F;
}