* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* overflow-x: hidden; */
}

.contant {
    width: 100vw;
    height: 100vh;
}

a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 250px;
}

#a {
    background-color: orangered;
}

#b {
    background-color: skyblue;
}

#c {
    background-color: gold;
}
