*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
}
#contantA{
    width: 500px;
    height: 500px;
    background-color: #FA5D36;
    margin: 50px;
    border: #63B1FF 10px solid;
    padding: 50px;
    font-size: 1.5rem;
}


#contantB{
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    background-color: #FA5D36;
    margin: 50px;
    border: 10px #63B1FF solid;
    padding: 50px;
    font-size: 1.5rem;
}

#FA5D36
#63B1FF
#FFDF3F
#58E4A8