*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FA5D36;
}

article img{
    display: block;
    margin: 10% auto;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    object-fit: cover;
}