* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #63B1FF;
}

#bowA {
    position: absolute;
    top: 100px;
    left: 0;
    width: 200px;
    height: 20px;
    background-color: black;
    transform: rotate(45deg);
}

#bowB {
    position: absolute;
    top: 100px;
    left: 0;
    width: 200px;
    height: 20px;
    background-color: black;
    transform: rotate(-45deg);
}