* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#animation{ 
    width: 100px;;
    height:100px;
    background-color: #FA5D36;
    transition-duration: 2s;
 }
 
#animation:hover{ 
    width:500px;
    height: 100px;
    background-color: #63B1FF;
}
#FA5D36;
#63B1FF;