@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Nothing+You+Could+Do&display=swap');

header {
    width: 100vw;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    position: fixed;
    top: 0;
}

.header_nav_container {
    display: flex;
    list-style: none;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.header_nav_container li {
    padding: 1rem;
    font-family: 'Hammersmith One', sans-serif;
}