*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background:linear-gradient(90deg,#FA5D36 50%,#63B1FF 50%,#63B1FF 100%);
}

#container{
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    white-space: nowrap;
}

#container h1{
    margin-top: 15%;
    font-size: 15rem;
    white-space: nowrap;
}

#container p{
    margin-top: -5%;
    line-height: 4rem;
    letter-spacing: 0.36rem;
    font-size: 3rem;
    white-space: nowrap;
}